* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

html, body {
  background-color: #DAD7CD;
}
html{
  --mainbanner-img: url(/img/banner.jpg);
  --pow-img: url(/img/shredszn.jpg);
}

.navcontainercolor, .navfootercolor {
  background-color: #443A5A;
}

.navcontainer {
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-gap: 30px;
}

.logoimg img {
  height: 75px;
  width: auto;
  padding: 0;
  margin: 0;
}

.btn {
  border: #ffffff00;
  background-color: #ffffff00;

  margin-bottom: 0px;
}

.dropdown {
  margin-top: auto;
  margin-bottom: 0;
  width: fit-content;
}
.triobanners{
  margin-top: 15vh;
  width: 60vw;
  margin-left: 20%;
  margin-right: 20%;
}
.bodycontainer {
  background-color: #DAD7CD;
}
.mainbanner{
  position: absolute;
  width:100%;
  height: 600px;
  position: relative;
}

.result {
  width: 100%;
  height: 70%;
  padding: 20px;
  background-image: url('/img/tnflifestyle.jpg');
  background-size: cover;
  color: #fff;
  transition: 0.5s ease;
}

.result h2, .result h1, .result p {
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.result h1 {
  margin-top: 55%;
  font-family: 'Inter', sans-serif;
}

.result p {
  width: 20vw;
  font-weight: 300;
}

.options-container {
  padding-top: 12px;
  min-width: 10vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-top: -10vh;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}

.option {
  cursor: pointer;
}

.option img {
  width: 8vw;
  height: 8vw;
  transition: .5s ease;
}

.option img:hover {
  cursor: pointer;
  width: 8.5vw;
  height: 8.5vw;
  transition: .3s ease;
}

.chakra-avatar__svg {
  display: flex;
  max-width: 30px;
  max-height: 30px;
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

h1 {
  font-family: 'Lexend Zetta', sans-serif;
}

.caritem {
  border-radius: 5px;
  background-color: #e8e8e8;
}

.caritem img {
  padding: 15px;
}

.itemcontent {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  height: 100px;
}

.caritem h2 {
  font-size: large;
}

.caritem p {
  font-size: medium;
  font-weight: 300;
}

.bottomcontent {
  display: grid;
  width: 60%;
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}

.bottomcontent img {
  height: 20vw;
  padding: 20px;
}

.community, .shipping, .giftcard {
  grid-row: 1;
  background-color: #cdcbcd;
  border-radius: 7px;
}

.bottomcontent p {
  padding: 25px;
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.navfooter {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.column {
  padding-top: 3vh;
  width: 15vw;
}

.column li {
  color: #fff;
  padding: 3px;
}

.dropdown-menu {
  display: none;
  transition: .3s ease;
  height: fit-content;
  position: fixed;
  text-align: center;
  border-radius: 0px;
  width: 100%;
  left: 0 !important;
  right: auto !important;
  border-radius: 0px;
}

.dropdown.show .dropdown-menu {
  display: block;
  transition: .3s ease;
  transform: 100px, 0px;
}

.dropdown-menu a, .dropdown-subject, .dropdown-item {
  width: fit-content;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #ffffff00;
}

.btn:hover {
  background-color: #ffffff00;
}

.dropdown-grid {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left: 20%;
  margin-right: 20%;
}
.search {
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  border: none;
  width: 170px;
  grid-column: 10;
}
.mensDropdown{
  grid-column: 2;
}
.womensDropdown{
  grid-column: 2;
}
.kidsDropdown{
  grid-column: 2;
}
.winterDropdown{
  grid-column: 2;
}
.campDropdown{
  grid-column: 2;
}
.hikeDropdown{
  grid-column: 2;
}
.mainbanner {
  background: var(--mainbanner-img);
  background-size: cover;
  background-position: center top;
  position: relative;
  height: 1000px;
}

.desktopHeroOverlay {
  transform: translate(-1000px, 400px);
  position: absolute;
}
.powcontainer{
  width: 100%;
  height: 1200px;
}
.powbanner{
  background-image: var(--pow-img);
  background-size: cover;
  background-position: center top;
  position: relative;
  width: 100%;
  height: 1200px;
}
.bestsellers{
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 50px;
}
.triorows{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}
.whitespace{
  background-color: #e8e8e8;
  margin-top: -31vh;
  height: 33vh;
}

@media screen and (max-width: 1000px){
  html{
    --mainbanner-img: url(/img/bannermobile.png);
    --pow-img: url(/img/shredsznmobile2.png);
  }

  .navcontainer .result h2, .result h1, .result p .options-container .bottomcontent .bestsellers{
    margin-left: 2.5%;
    margin-right: 2.5%;

  }

  .search {
    display: none;
  }

  .options-container {
    padding-top: 12px;
    min-width: 10vw;
    height: 44.5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: red 1px solid;
    margin-bottom: 30px;
    align-items: center;
  }
  .option7{
    grid-column: 2;
    grid-row: 3;
  }
  .option img {
    width: 31vw;
    height: 31vw;
    transition: .5s ease;
  }
  .option img:hover {
    cursor: pointer;
    width: 14vw;
    height: 14vw;
  }
  .triobanners{
    margin-top: 15vh;
    width: 95vw;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .triorows{
    width: 100%;
    display: grid;
    grid-template-columns:none;
    grid-template-rows: repeat(3,1fr);
  }
  .mainbanner {
    background-image: url("/img/bannermobile.png");
    background-size: cover;
    background-position: center top;
    position: relative;
    height: 70vh;
  }
  .mainbanner img {
    display: none !important;
}
.powbanner{
  height: 1500px;
}
.powcontainer{
  height: 1500px;
}
.whitespace{
  background-color: #e8e8e8;
  margin-top: -60vh;
  height: 1300px;
}

.bottomcontent {
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: grid;
  width: 95%;
  max-width: 95%;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  justify-content: center;
}

.bottomcontent img {
  height: 31vw;
  padding: 20px;
}
.carousel-wrap {
  margin: 90px auto;
  padding: 0 0;
  width: 94%;
  position: relative;
}
.navcontainer {
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: 30px;
}
.dropdown-grid {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-rows: repeat(1,1fr);
  margin-left: 10%;
  margin-right: 10%;
}
.column1{
  width: 260%;
  font-size: 2rem;
  grid-row: 1;
}
.column2{
  width: 260%;
  font-size: 2rem;
  grid-row: 2;
}
.column3{
  width: 260%;
  font-size: 2rem;
  grid-row: 3;
}
}