html{
  --mainbanner-img: url(/img/banner.jpg);
  --albionbanner-img: url(img/Graphics/albionlong--3-1.jpg);
}

body {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .image-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
  .image-container img {
    width: 100%;
    object-fit: cover;
    text-align: center;
    font-size: 120px;
    color: white;
  }
  
  .margin {
    width: 85%;
  }
  .mainbanner{
    position: absolute;
    background: var(--mainbanner-img);
    background-size: cover;
    background-position: center top;
    position: relative;
  }
.albionbanner{
    position: absolute;
    background: var(--albionbanner-img);
    background-size: cover;
    background-position: center top;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 1;
}

  .aspect-ratio-200x100{
    aspect-ratio: 2 / 1;
     max-width: 49.75%;
    height: auto
  }
  .aspect-ratio-200x300{
    aspect-ratio: 2 / 3;
    max-width: 33%; 
    height: auto;
  }
  .aspect-ratio-1632x200{
    aspect-ratio: 8 / 1;
  }


  @media screen and (max-width: 1000px){
    html{
      --mainbanner-img: url(/img/bannermobile.png);
      --albionbanner-img: url(img/Graphics/albion2--2-1.jpg);
    }
    .aspect-ratio-200x100{
      aspect-ratio: 2 / 1;
      max-width: 100%;
      height: auto
    }
    .aspect-ratio-200x300{
      aspect-ratio: 2 / 3;
      max-width: 100%; 
      height: auto;
    }
    .aspect-ratio-1632x200{
      aspect-ratio: 8 / 1;
    }
    .image-container {
      display: block;
    }
.albionbanner{
  aspect-ratio: 2 / 1;
}
  }