
body {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .image-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
  .image-container img {
    width: 100%;
    background-color: gray;
    object-fit: cover;
    text-align: center;
    font-size: 120px;
    color: white;
  }
  
  .margin {
    width: 85%;
  }
  .assetgrid{
    border: 1px red solid;
    width: 1000px;
    height: 1000px;
    margin: auto;
  }
  .assetgrid img{
    max-width: 200px;
    max-height: 200px;
  }