*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    
}
:root{
    --main-color:#ffffff;
    --highlight-color:#ff2350;
    --text-color:#fff;
    --bg-color:#191824;
    --trans-color:#1e1c2af3;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*::selection {
    background: var(--main-color);
    color:#fff;
}
body{
    background-color: var(--bg-color);
    width:100%;
    margin:0;
}
.parallax{
    background: url("/img/city1.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
header{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: transparent;
}
.name{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: .2vw;
    top: 20%;
    z-index: 250;

}
.name h3{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;
    color: var(--main-color);
    white-space: nowrap;
    font-size: 5vw;
    font-weight: 500;
}
.mask{
    z-index: 300;
    mask:url("/img/cityplate6.png");
    mask-size: cover;
    -webkit-mask:url("/img/cityplate6.png");
    -webkit-mask-size:cover;
    width:100%;
    height:100%;
  }
.content-div{
    width: 100%;
    height: 100vh;
  }
.navbar{
    z-index: 1000;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.navbar a{
    z-index: 1000;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--highlight-color);
    transition: .4s;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section{
    padding: 70px 17%;
}
.home{
    display: none;
    height: 0px;
    width: 0px;
}
.art{
    display: grid;
    grid-template-areas: 2, 2;
    grid-gap: 1.5rem;
    align-items: center;
    color: var(--text-color);
}
.artbox{
    border-radius: 10px;
    background: #32323d;
    padding: 2vw;
  }
.art-img img{
    max-width: 100%;
    width: 480;
    height: auto;
}
.art-text span{
    font-size: 1.5vw;
    color: var(--highlight-color);
    font-weight: 600;
}
.art-text h2{
    font-size: 2vw;
    color: var(--main-color);
    font-weight: 400;
}
.art-text p{
    font-size: 1.5vw;
    color: var(--main-color);
    font-weight: 200;
}
.experience{
    color: var(--text-color);
}
.experiencebox{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    border-radius: 10px;
    background: #32323d;
    padding: 2vw;
}
.experience-img img{
    max-width: 100%;
    width: 480;
    height: auto;
}
.experience-text h3{
    font-size: 1.5vw;
    color: var(--highlight-color);
    font-weight: 600;
}
.experience-text h2{
    font-size: 2vw;
    color: var(--main-color);
    font-weight: 300;
}
.experience-text li{
    list-style-type: circle;
    font-size: 1vw;
    color: var(--main-color);
    font-weight: 200;
}
.experience-text p{
    font-size: 1vw;
    color: var(--main-color);
    font-weight: 200;
}
.about{
    color: var(--text-color);
}
.aboutbox{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 2rem;
    border-radius: 10px;
    background: #32323d;
    padding: 2vw;
}
.about-img img{
    width: 15vw;
    height: auto;
}
.about-text h3{
    font-size: 1.5vw;
    text-align: center;
    color: var(--highlight-color);
    font-weight: 600;
}
.about-text h2{
    font-size: 2vw;
    text-align: center;
    color: var(--main-color);
    font-weight: 300;
}
.about-text p{
    font-size: 1vw;
    text-align: justify;
    color: var(--main-color);
    font-weight: 200;
}
.footer{
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
    background:#08080c;
}
.full-footer{
    display: grid;
    grid-template-areas: repeat(2, 2);
    grid-gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.footer a{
    z-index: 1000;
    color:#8b83b6;
    font-size: 1vw;
    padding: 10px;
    font-weight: 400;
}
.footer-imgs{
    display: flex;
    justify-content: space-between;
    width: 20vw;
        margin-left: auto;
    margin-right: auto;
}
.footer-imgs img{
    width: 2vw;
    z-index: 1001;
    padding: 5x;
}