*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    
}
:root{
    --main-color:#ffffff;
    --highlight-color:#ff2350;
    --text-color:#fff;
    --bg-color:#191824;
    --trans-color:#1e1c2af3;
    --big-font:5rem;
    --h2-font:2vw;
    --h3-font:1vw;
    --p-font:1vw;
}
body{
    background-color: var(--bg-color);
    width:100%;
    margin:0;
}
*::selection {
    background: var(--highlight-color);
    color:#fff;
}
.columns{
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-gap: 1vw;
    width: 78vw;
}
.container1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1vw;
    width: 29vw;
    height: 5vw;
}
.container1 img{
    width: 25vw;
    height: auto;
    object-fit: cover;
    object-position: top;
}
.container2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1vw;
    width: 29vw;
    height: 5vw;
}
.container2 img{
    width: 25vw;
    height: auto;
    object-fit: cover;
    object-position: top;
}
.container3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1vw;
    width: 29vw;
    height: 5vw;
}
  .container3 img{
    width: 25vw;
    height: auto;
    object-fit: cover;
    object-position: top;
}
.tile-background {
    background-size: cover;
    background-position: center center;
    bottom: 0;
    filter: blur(50px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
 }
 .tile {
    background: #333;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 300px;

    &:hover {
      
        img {
           top: -10%;
           filter: brightness(70%);
        }
        
        .text {
           bottom: 0;
        }
     }
     
     img {
        bottom: 0;
        filter: brightness(100%);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.5s ease-in-out;
        width: 115%;
     }
     
     .text {
        bottom: -40%;
        padding: 15px;
        position: absolute;
        transition: 0.5s ease-in-out;
  
        .text  {
           color: #fff;
           display: inline-block;
           font-weight: 300;
           margin-bottom: 5px;
           position: relative;
        }
        
        .text p {
           color: #fff;
           font-weight: 300;
        }
     }
  }